* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrinhoContainer {
    width: 60%;
    padding: 30px 70px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    margin-top: 20px;
}

#carrinho {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.item-carrinho {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.valor-total p {
    width: 100% !important;
    text-align: end;
} 

#carrinho p:nth-of-type(odd) { 
    width: 50%; 
    font-weight: bold;
    padding-top: 10px;
}

#carrinho p:nth-of-type(even) { 
    width: 20%;
    text-align: center;
    padding-top: 10px;
}

#carrinho button {
    width: 30%;
    background-color: #dc3545;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#valorASerPago {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0;
}

#totalPago {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.confirm-btn {
    margin-top: 100px;
    width: 100%;
} 