body {
    margin: 0;
    height: 100vh;
    background-color: #f0f2f5;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}

#criarProduto {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 30px 70px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    gap: 40px;
}

#criarProduto > * {
    height: 50px !important;
}

#criarProduto input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-size: 14px;
}

.buttonCriarProduto {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

.buttonCriarProduto:hover {
    background-color: #69ce6c;
}