body {
    margin: 0;
    height: 100vh;
    background-color: #f0f2f5;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}

#criarProduto {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 30px 70px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    gap: 40px;
}

#criarProduto > * {
    height: 50px;
}

#criarProduto input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-size: 14px;
}

.buttonCriarProduto {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

.buttonCriarProduto:hover {
    background-color: #69ce6c;
}

.imagem {
    position: relative;
    height: 200px !important;
    box-shadow: 2px 2px 5px gray;
    width: fit-content;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

.imagem .imagem-pelicula {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: black;
    border-radius: 10px;
}


.imagem .imagem-pelicula:hover {
    opacity: 0.7;
}

.imagem .imagem-pelicula img {
    height: 30%;
}

.imagem > img {
    height: 100%;
}