#modal-overlay {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


#modal {
    background-color: #fff;
    padding: 50px 30px 30px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    z-index: 1001;
    min-height: 200px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.mensagem {
    font-size: 18px;
    margin-bottom: 20px;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
}

.botoes button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    flex-basis: 40%;
}

.botoes button:first-child {
    background-color: #4CAF50;
    color: white;
}

.botoes button:nth-child(2) {
    background-color: #f44336;
    color: white;
}

.botoes button:hover {
    opacity: 0.8;
}