.navBar {
    box-sizing: border-box;
    background-color: #333;
    color: white;
    padding: 15px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divPesquisar {
    display: flex;
    align-items: center;
    height: 50%;
    gap: 10px;
}

.divPesquisar #inputPesquisar, #butaoPesquisar {
    height: 100%;
}

.divPesquisar #inputPesquisar {
    box-sizing: border-box;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
}

.navBar button {
    margin: 0;
}

.navBar nav {
    display: flex;
    align-items: center;
}

#login {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;

    width: 300px;
    padding-right: 30px;
}

#login div:nth-child(1) {
    font-size: 1.5rem;
}

.navBar p {
    font-weight: bold;
    padding: 10px;
}

.navHover {
    cursor: pointer;
}

.navHover:hover {
    background-color: #5e5d5d; 
    border-radius: 5px;
    padding: 10px;
}

.nav-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #0056b3;
}

.logo {
    cursor: pointer;
}

.confirm-btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

.confirm-btn:hover {
    background-color: #69ce6c;
}