#toast {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    position: fixed;
    top: 100px;
    right: 30px;
}

#toast .toast-mensagem {
    height: 100%;
    background-color: #b10f24;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px 8px grey;
    border: 1px solid grey;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

#toast p {
    color: white;
}

#toast .toast-mensagem span {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}